{% extends 'doctor/index.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/doc_change_password_post">
  <table class="table table-borderless">
    <tr>
      <td>oldpassword
        <label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" class="form-control" required/></td>
    </tr>
    <tr>
      <td>new password
        <label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" class="form-control" required/></td>
    </tr>
    <tr>
      <td>password
        <label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" class="form-control" required/></td>
    </tr>
    <tr>
      <td><blockquote>
        <blockquote>
          <blockquote>
            <blockquote>
              <p>
                <input type="submit" name="button" id="button" value="change"  class="btn btn-outline-success"/>
              </p>
            </blockquote>
          </blockquote>
        </blockquote>
      </blockquote></td>
    </tr>
  </table>
</form>
{% endblock %}
