{% extends 'doctor/index.html' %}
{% block body %}
<h3>Upload EHR</h3>

    <br>
    <form action="/doctor_uploadphrpost" method="post" enctype="multipart/form-data">

    <table class="table table-bordered">
    <tr>
        <td>Choose File</td>
        <td>
            <input type="file" name="file" class="form-control" required/>
        </td>
    </tr>

     <tr>
        <td>FileType</td>
        <td>
            <input type="text" name="filetype" class="form-control" required/>
        </td>
    </tr>


    <tr>
        <td>Description</td>
        <td>
            <textarea name="description" class="form-control" required> </textarea>
        </td>
    </tr>


    <tr>
        <td></td>
        <td>
            <input type="submit" value="Submit"/>
        </td>
    </tr>






    </table>
</form>

{% endblock %}