{% extends 'heakthins/index.html' %}
{% block body %}
<h3>Upload EHR</h3>

    <br>
    <form action="/useruploadphtpost" method="post" enctype="multipart/form-data">

    <table class="table table-bordered">
    <tr>
        <th>SlNo</th>
{#        `fid` `` `` `` `` `uploadedbyid` `uploadedtype`#}
        <th>FileName</th>
        <th>Type</th>
        <th>Description</th>
        <th>Date</th>
       <th></th>
    </tr>

        {% for i in ks %}

        <tr>
        <td width="50px">
            {{ loop.index }}
        </td>
        <td>
            {{ i['filename'] }}
        </td> <td>
            {{ i['typefile'] }}
        </td> <td>
            {{ i['description'] }}
        </td> <td>
            {{ i['dte'] }}
        </td>
            <td width="50px">

                {% if i['status']=="pending" %}

                Request Pending

                {% elif i['status']=="verified"  %}
                <a href="{{ i['filename'] }}" download class="btn btn-success">Download</a>
                {% else  %}
                <a href="/healthrequest/{{ i['bid'] }}" class="btn btn-info">Request</a>
                {% endif %}



        </td>

        </tr>

        {% endfor %}
    </table>
</form>

{% endblock %}